<p>
  <strong>name</strong>
  <%= @album.name %>
</p>
<p>
  <strong>file_name</strong>
  <%= @album.file_name %>
</p>
<p>
  <strong>comment</strong>
  <%= @album.comment %>
</p>
<p>
  <strong>location_id</strong>
  <%= @album.location_id %>
</p>
