<div class="modal-header">
	<h3 class="modal-title">Click on picture's location</h3>
</div>
<div class="modal-body">
    <label>Latitude: </label>
    <input type="text" ng-model="newLocationCoordinates.latitude"/><br>
    
    <label>Longitude</label>
    <input type="text" ng-model="newLocationCoordinates.longitude"/>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" disabled="{{hasCoordinates}}" ng-click="ok()">Save</button>
	<button class="btn btn-primary" ng-click="cancel()">Canel</button>
</div>
