<p>
  <strong>name</strong>
  <%= @picture.name %>
</p>
<p>
  <strong>file_name</strong>
  <%= @picture.file_name %>
</p>
<p>
  <strong>comment</strong>
  <%= @picture.comment %>
</p>
<p>
  <strong>album_id</strong>
  <%= @picture.album_id %>
</p>
